*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 600px;
    width: 90%;
    border: 2px solid black;
    margin: 50px auto;
}

h1{
    text-align: center;
}

.images{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.slide{
    width: 250px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}


.lightBox{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
}

#prevBtn, #nextBtn{
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    font-size: 40px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;

}

#prevBtn{
    left: 30px;
}
#nextBtn{
    right: 50px;
}


#close{
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 40px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


#largeImage{
    height: 600px;
    width: 500px;
}
